* {
    font-size: 18px;
}

  body {
    font-family: 'Crimson Text', serif !important;
    overflow-x:hidden;

  }
 
  .corNavbar {
      background-color:hsl(30, 50%, 40%);
  }
  
  .corLinks {
    color: white;
    transition: 0.2s;

  }
  
  .corLinks:hover {
    opacity: 0.7;
    color:hsl(30, 85%, 79%);
  }

  .togglerFlor {
    height: 2rem;
  }


.avatar {
    color: black;
}

.distancias {
    margin-right: 2rem;
  
  }

.tamanhoBarra2 input {
    width: 8rem !important;
}

.baseDados {
    margin-top: 7rem;
}
.bordasBotao {
    border-radius: 20px 5px 20px !important;
  }

.tamanhoLetra {
    font-size: 15px;
}

.button {
  color: white;
  padding: 5;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border-width: thin;
}

.button1 {
  background-color: hsl(30, 50%, 40%);
  color: white; 
  border: 2px solid black;
}

@media only screen and (max-width: 376px) {
  .cards {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;  
}

}
