.borboleta {
  width: 5rem;
  margin-left: -3rem;
  margin-right: -2rem;
  margin-top: -1.2rem;
  fill: blue;
  position: absolute;
}

.widthCartoes {
    width: 15rem;
    height: 15rem;
}

.folhinha {
    margin-top: 1.5rem;
    margin-left: 4.2rem;
    color: green;
    position: absolute;
    cursor: pointer;
    }

.borboleta {
    width: 5rem;
    margin-left: -3rem;
    margin-right: -2rem;
    margin-top: -1.2rem;
    fill: blue;
    position: absolute;   
    }
    
.cartoes {
    width: 15rem;
    height: 17rem;
    }

.cartoes:hover {
    box-shadow: 0 4px 8px 0 rgba(14, 13, 13, 0.5);
    }

.cards {
    margin-left: 13rem;
       
    }
    
.cartao1 {
    object-fit: cover;
    width: 100%;
    height: 100%;    
    }
    
.card {
  position: relative;
    }
    
  .card:hover .overlay{
    height: 100%;
    }
    
  .card:hover .text {
    text-align: center;
    }
    
  .text {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    color: black;
    }
    
    
  .overlay {
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: 0.2s;
    background-color: rgba(204, 217, 255, 0.5);
    text-align: center;
    position: absolute;
    overflow: hidden !important;
    }
   
    
@media only screen and (min-width: 375px) and (max-width: 426px) {
    .cards {
      margin-left: 1.5rem;
    }
      
  } 
  
 