@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
    font-family: 'Yusei Magic', sans-serif;
}

.widthCartoes {
    /* width: 50%; */
    width: 15rem;
    height: 15rem;
}

.bordasBotao {
    border-radius: 5px 20px 5px!important;
    /* position: absolute; */
    /* perspective: 1px;
    overflow: hidden; */
    /* border-radius: 0%; */
}

.avatar {
    /* width: 5rem;
    height: 5rem;
    position: relative; */
    color: green;
}

.dropdownMenuLink {
    color: green;
}

.baseDados {
    margin-top: 7rem;
    /* width: 10px;
    height: 10px; */
}

.tamanhoBarra {
    /* width: 1rem;
    height: 1rem; */
}

.borboleta {
    width: 5rem;
    margin-left: -3rem;
    margin-right: -2rem;
    margin-top: -1.2rem;
    fill: blue;
    position: absolute;
    /* https://svgsilh.com/pt/009688/image/896668.html */
}

.cartoes {
    width: 15rem;
    height: 17rem;
    /* height: 10rem; */
}

.cards {
    margin-left: 13rem;
    /* height: 100px; */
}

.tamanhoLetra {
    font-size: 12px;
}