@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
    font-family: 'Yusei Magic', sans-serif;
}

.corNavbar {
    background-color:hsl(30, 50%, 40%);
}

.widthCartoes {
    /* width: 50%; */
    width: 15rem;
    height: 15rem;
}

.bordasBotao {
    border-radius: 5px 20px 5px!important;
    /* position: absolute; */
    /* perspective: 1px;
    overflow: hidden; */
    /* border-radius: 0%; */
}

.avatar {
    /* width: 5rem;
    height: 5rem;
    position: relative; */
    color: green;
}

.dropdownMenuLink {
    color: green;
}

.baseDados {
    margin-top: 7rem;
    /* width: 10px;
    height: 10px; */
}

.tamanhoBarra {
    /* width: 0.5rem; */
}

.borboleta {
    width: 5rem;
    margin-left: -3rem;
    margin-right: -2rem;
    margin-top: -1.2rem;
    fill: blue;
    position: absolute;
    /* https://svgsilh.com/pt/009688/image/896668.html */
}

.cartoes {
    width: 15rem;
    height: 17rem;
    /* height: 10rem; */
}

.cards {
    margin-left: 13rem;
    /* height: 100px; */
}

.cartao1 {
    object-fit: cover;
}
.tamanhoLetra {
    font-size: 12px;
}


.cards2 .box2:hover .face.face2 {
    height: 60px;
  }

  .cards2 .box2:hover .face.face2 h2 {
    font-size: 2em;
  }

  .cards1 .box:hover .imgBx {
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
  }

  .cards1 .box:hover .content h2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
  }
  .cards1 .box:hover .content p {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
  }
  .cards1 .box:hover .content a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
  }