body {
    font-family: 'Crimson Text', serif !important;
  }

  .corNavbar {
    background-color:hsl(30, 50%, 40%);
}

.corLinks {
  color: black;
}

.corLinks:hover {
  color:rgba(37, 34, 34, 0.5);
}

.widthCartoes {
    width: 15rem;
    height: 15rem;
}

.bordas {
    margin-left: 35rem;
}

.avatar {
    color: black;
}

.distancias {
  margin-right: 5rem;

}

.dropdownMenuLink {
    color: green;
}


.arvore {
    width: 40%;
    margin-left: 23rem;
    overflow: hidden;
    scroll-behavior: hidden;
}

.posicoes1 {
    margin-top: -40rem;
    margin-left: 50rem;
}

.posicoes2{
    margin-top: -60rem;
    margin-left: -11rem;
    margin-bottom: -3rem;
    margin-right: 2rem;
}

.posicoes3 {
    margin-left: 20rem;
    margin-top: -47.5rem;
}


/* .arvore2 {
    background-image: url(./imagens/tree2.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
    margin-left: 23rem; 
    overflow: hidden;
    scroll-behavior: hidden; 
} */